@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
  background-color: hsla(266, 61%, 11%, 1);
  /* width: 100%; */
}
/* common */

/* nav */
nav {
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
  margin: 16px 200px;
  /* margin: 0 auto; */
}
nav > ul {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  align-items: center;
  margin-top: 20px;
}
nav > ul > li {
  list-style: none;
}
nav > ul > li > a {
  text-decoration: none;
  color: white;
}
nav > h1 {
  height: 32px;
  width: 219px;
  align-items: center;
  justify-items: center;
  color: white;
  margin-top: 20px;
}
nav .diff {
  background: linear-gradient(#9100f8, #fb09b4, #f7e93f);
  /* color:transparent; */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav .button {
  width: 135px;
  height: 44px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#9100f8, #fb09b4, #f7e93f);
  color: white;
  padding: 12px 16px;
  margin-left: 16px;
  border-radius: 15px;
  padding: 12px 16px;
  margin-top: 20px;
}
nav .button .fa-solid {
  color: white;
  margin-left: 4px;
  margin-right: 16px;
  height: 20px;
  width: 20px;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
nav .hidden {
  display: none;
}

/* banner */

.hero {
  width: 100%;
  max-width: 1600px;
  height: 760px;
  background: url('./assets/hero-bg.png') center/cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}
.center-circle {
  width: 350px;
  height: 350px;
  background: url('./assets/hero-circle.png') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 28px;
  position: relative;
}
.center-circle img {
  width: 90px;
  height: auto;
  z-index: 2;
}
.new-badge {
  position: absolute;
  top: 7px;
  right: 20px;
  height: 38px;
  width: 75px;
  background: #00ff88;
  color: #1a0b2e;
  font-size: 18px;
  padding: 8px 16px;
  border-radius: 1000px;
  font-weight: 600;
}
.hero .content h1 {
  font-size: 3.75rem;
  margin-bottom: 8px;
}

.hero .content p {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.546);
}
 .hero .content .buttons {
  margin-top: 24px;
  display: flex;
  gap: 8px;
  justify-content: center;
  flex-wrap: wrap;
} 
.hero .content .buttons .spotify {
  background: linear-gradient(#9100f8, #fb09b4, #f7e93f);
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 600;
  height: 44px;
  width: 201px;
  border-radius: 10px;
  margin-left: 8px;
  text-align: center;
  /* padding: 13px 20px 13px 8px ; */
}
.hero .content .buttons .subscribe {
  background: transparent;
  width: 147px;
  height: 44px;
  border-radius: 10px;
  color: #00ff88;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 16px;

  border: 1px solid #00ff88;
}
.hero .content .buttons .icon {
  height: 20px;
  width: 20px;
  margin-left: 20px;
  margin-right: 8px;
}

/* About Section */
.about {
  padding: 50px 200px 120px 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.about .about-details {
  max-width: 1200px;
  padding-bottom: 80px;
  border-bottom: 1px solid #ffffff13;
}
.about .about-details h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 16px;
}

.about .about-details p {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff83;
}
.about .about-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
  justify-content: center;
  text-align: center;
  margin-top: 80px;
}
.about .about-card h1 {
  font-size: 48px;
  font-weight: 900;
  color: #00ff88;
  margin-bottom: 16px;
}
.about .about-card p {
  font-size: 16px;
  font-weight: 400;
  color: #ffffffa6;
}

/* fascination */
.fascination {
  padding: 120px 200px;
  max-width: 1600px;
  /* height: 1121px; */
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}
.fascination h1 {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
}
.fascination .fascination-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  text-align: left;
}
.fascination .fascination-card h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 1rem;
}
.fascination .fascination-card p {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff6c;
  margin-top: 1rem;
}
.fascination .fascination-card img {
  margin-bottom: 16px;
}
.fascination .fascination-card .card-1 {
  grid-row: span 2;
  /* grid-column: span 1; */
  background-color: rgba(53, 17, 101, 0.4);
  padding: 30px;
  border-radius: 40px;
 
}
.fascination .fascination-card .card-2 {
  grid-column: span 2;
  background-color: rgba(53, 17, 101, 0.4);
  padding: 30px;
  border-radius: 40px;
  
}
.fascination .fascination-card .card-3 {
  grid-column: span 2;
  background-color: rgba(53, 17, 101, 0.4);
  padding: 30px;
  border-radius: 40px;
  
}
.fascination .fascination-card .card-4 {
  grid-column: span 2;
  background-color: rgba(53, 17, 101, 0.4);
  padding: 30px;
  border-radius: 40px;
}
.fascination .fascination-card .card-5 {
  background-color: rgba(53, 17, 101, 0.4);
  grid-column: span 1;
  padding: 30px;
  border-radius: 40px;
  
}


/* episode */
.episode
{
  padding: 60px 200px;
  margin: 0 auto;
}
.episode h1{
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  margin-bottom: 40px;
}
.episode .episode-card .same
{
  padding: 24px;
}
.episode .episode-card h3{
  font-size: 24px;
  font-weight: 700;
  color:#FFFFFF;
  margin-top: 24px;
  margin-bottom: 12px;
}
.episode .episode-card p{
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 12px;
  color: #ffffff7e;

}
.episode .episode-card
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap:30px;
  padding:24px; 
   /* background-color:rgba(53, 17, 101, 0.121); */
 

}
.episode .episode-card iframe
{
 
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  width: 380px;
  height: 214px;
}
.episode .episode-card span
{
  margin-bottom: 16px;
}

.episode .episode-card .episode-1
{
background-color: rgba(53, 17, 101, 0.4);
border-radius: 24px;
}
.episode .episode-card .episode-2
{
background-color: rgba(53, 17, 101, 0.4);
border-radius: 24px;
}
.episode .episode-card .episode-3
{
background-color: rgba(53, 17, 101, 0.4);
border-radius: 24px;
}

/* host */
.host
{
  /* margin: 0 auto; */

  /* padding: 60px 200px 120px 200px; */
  /* max-width: 1200px; */
  /* background-color:rgba(53, 17, 101, 0.221); */
}
.host h1{
  margin-top: 60px;
  padding: 16px;
  color: #FFFFFF;
}
.host .inside-host
{
  display: flex;
  gap:24px;
  background-color:rgba(53, 17, 101, 0.221);
  padding:40px;
  border-radius: 40px;
  margin: 0 auto;
}
.host .inside-host .host-img
{
  height: 200px;
  width: 200px;
  /* margin-left: 40px; */
  align-items: center;
}
.host .inside-host .host-details h4
{
  font-size: 32px;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.host .inside-host .host-details p
{
 font-size: 16px;
  font-weight: 400;
  color: #ffffff7a;
  margin-bottom: 16px;
}

.host .inside-host
 .host-details .host-links
{
 display: flex;
gap: 8px;
}

.host .inside-host
 .host-details .host-links 
 img
 {
   width: 20px;
   height: 20px;
   align-items: center;
   position: absolute;
   transform: translate(-50%, -50%);
   top:50%;
   left: 50%;
 }
.host .inside-host
 .host-details .host-links .round
 {
  height: 50px;
  width: 50px;
  border: 1px solid rgba(49, 9, 131, 0.61);
  border-radius: 50%;
  position: relative;
 }


/* footer */
.footer
{
  margin-top: 120px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/footer-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width:100vw;
  height: 412px;
  text-align: center;
  position: relative;
  margin-left: calc(50% - 50vw);
}
.footer .footer-icon
{
  display:flex;
  flex-direction: row;
  gap:40px;
  align-items: center;
}
.footer p
{
 font-size: 16px;
 font-weight: 400;
 color:#ffffffa5;
 margin-top: 32px;
 text-align: center;

}
.footer .footer-icon .foot-img
{
 height: 24px;
 width: 24px;
 margin-right: 8px;
}
.footer .footer-icon p
{

}
.footer h1 {
  height: 64px;
  color: white;
  margin-bottom: 10px;
}

.footer .diff {
  background: linear-gradient(#9100f8, #fb09b4, #f7e93f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}





















@media screen and (max-width: 576px) {
  /* nav */
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 16px;
    width: 100%;
    align-items: center;
  }
  nav h1 {
    margin-top: 0px;
  }
  nav > ul {
    display: none;
  }
  nav .button {
    display: none;
  }

  nav .hidden {
    display: inline;
    margin-right: 10px;
    /* align-items: center; */
  }
  .hero {
    flex-direction: column;
    max-width: 100vh;
    height: 386px;
    margin-top: 100px;
  }

  .center-circle {
    width: 200px;
    height: 200px;
  }

  .center-circle img {
    width: 65px;
  }

  .new-badge {
    width: 70px;
    height: 35px;
    font-size: 16px;
    padding: 8px 16px;
    right: 15px;
    top: 5px;
  }

  .hero .content h1 {
    font-size: 40px;
  }

  .hero .content p {
    font-size: 16px;
    line-height: 1.5;
  }

  .hero .content .buttons {
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  .hero .content .buttons .spotify,
  .hero .content .buttons .subscribe {
    width: 250px;
    margin-left: 0;
  }

  .hero .content .buttons .icon {
    margin-left: 0;
  }

  .about {
    padding: 40px 20px;
    max-width: 100vh;
  }
  .about .about-details {
    padding-bottom: 40px;
  }
  .about .about-details h1 {
    font-size: 2rem;
    margin-bottom: 16px;
  }

  .about .about-details p {
    font-size: 16px;
  }
  .about .about-card {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    justify-content: center;
    text-align: center;
    margin: 40px 20px;
  }
  .about .about-card h1 {
    font-size: 40px;
    margin-bottom: 16px;
  }
  .about .about-card p {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
  }

  .fascination {
    padding: 40px 20px;
  }
  .fascination h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .fascination .fascination-card {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    border-radius: 24px;
  }
  .fascination .fascination-card h3 {
    font-size: 22px;
    font-weight: 700;
  }
  .fascination .fascination-card p {
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff6c;
    margin-top: 1rem;
  }
  .fascination .fascination-card img {
    margin-bottom: 16px;
  }
  .fascination .fascination-card .card-1 {
    grid-row: span 1;
    grid-column: span 1;
  }
  .fascination .fascination-card .card-2 {
    grid-row: span 1;
    grid-column: span 1;
  }
  .fascination .fascination-card .card-3 {
    grid-row: span 1;
    grid-column: span 1;
  }
  .fascination .fascination-card .card-4 {
    grid-row: span 1;
    grid-column: span 1;
  }
  .fascination .fascination-card .card-5 {
    grid-column: span 1;
    grid-row: span 1;
  }
































}
